*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

/* .background {
  background-image: url("../images/background-sm.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
} */

.logo {
  max-width: 150px;
}

.background {
  position: relative;
  min-height: 100vh;
  width: 100%;
}
.background::before {
  content: "";
  background-image: url("./images/background-sm.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
  z-index: -1;
}

.titulo {
  color: #643a2d;
  font-size: 28px;
  font-weight: bold;
  opacity: 0.9;
}

.subtitulo {
  color: #643a2d;
  font-size: 15px;
  font-weight: bold;
  opacity: 0.9;
}

.titulo-bienvenida {
  color: #643a2d;
  font-size: 30px;
  font-weight: bold;
  opacity: 0.9;
}

.subtitulo-bienvenida {
  color: #643a2d;
  font-size: 21px;
  font-weight: bold;
  opacity: 0.9;
  line-height: 1.4;
}

form {
  color: #3f3f3f;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 13px;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 2px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 2px rgba(40, 40, 40, 0.35) solid;
  border-right: 2px rgba(40, 40, 40, 0.35) solid;
}

.form-control {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #818181;
  border-radius: 0;
}

.form-check-label {
  color: #643a2d;
  font-size: 12px;
  line-height: 1;
}

.btn-continuar {
  background-color: #643a2d;
  border-radius: 30px;
  border: 0;
  width: 100%;
}

.form-control:focus {
  color: #495057;
  background-color: transparent;
  border-color: #a0837a;
  outline: none;
  box-shadow: none;
}

.cont-bienvenida {
  color: #3f3f3f;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 13px;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 2px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 2px rgba(40, 40, 40, 0.35) solid;
  border-right: 2px rgba(40, 40, 40, 0.35) solid;
}

@media (min-width: 576px) {
  .logo {
    padding-top: 1em;
  }
  form {
    max-width: 500px;
    margin-top: 1em;
  }
}

@media (min-width: 1200px) {
  .background::before {
    background-image: url("./images/background.jpg");
  }
}

@media (min-width: 1920px) {
  .logo {
    padding-top: 4em;
  }
}
